body {
    font-size: 1.2em;
    margin: 0;
    line-height: 1.7em;

    font-family: 'Roboto', 'Verdana', 'Calibri', 'Tahoma', serif;
}

.container {
    max-width: 50em;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

@media (max-width: 640px) {
    .sec {
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: left;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Consolas', 'Andale Mono', 'Source Code Pro', monospace;
    margin-top: 20px;
    margin-bottom: 30px;

    line-height: 40px;
}

p {
    margin-bottom: 20px;
}

pre, code {
    display: block;
    white-space: pre;
    text-align: left !important;
    background-color: rgba(255, 255, 255, 0.25);
    color: #111;
    font-family: 'Consolas', 'Andale Mono', 'Source Code Pro', monospace;

    max-width: 100%;
    overflow-x: auto;
}

code {
    padding: 15px;
}

pre {
    background-color: #16a085;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    text-decoration: none;
    font-weight: normal;
    color: inherit;
}

.button {
    border: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    font-style: italic;

    margin: 5px;

    display: inline-block;
    word-wrap: break-word;
    font-size: 1.2em;
}

.circle {
    /*border-radius: 50%;*/
}

.logo-img {
    height: 200px;
    border: 5px solid #16a085;
    border-radius: 10%;
}

@media print {
    .pbefore {
        padding: 0.82cm;
    }

    .pbreak {
        display: block;
        page-break-before: always;
        padding: 0.5cm;
    }

    /*@page {
        size: A4;
        margin: 0;
    }*/
}
